
section-1{margin-top: 100vh;}

@media only screen and (max-width: 850px) {
    .section-title{
        font-size: 4px;
    }

    section {
        .sectionDetail {
            .sectionDetailImage , .sectionDetailImageContainer{
            width: 200px;
        }
            .sectionDetailText {
                font-size: 1em;
            }
        }
    }
}

section {
    height: auto;
    width: auto;
    text-align: center;
    * {
        font-weight: bold;
        color: #3b3b3b;
    }
    .sectionDetail{
        width: 100vw;
        height: 100vh;

         .sectionDetailImageContainer {
            margin: 0;
            padding: 0;
            width: 650px;

             .sectionDetailImage{
                 border-radius: 9px;
                 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

                 margin: 0;
                 padding: 0;
                 width: 100%;
             }
        }

        .sectionDetailTextContainer{
            margin: 0;
            padding: 0;
            width: 800px;

            .sectionDetailText {
                height: auto;
                left: 35%;
                top: 18%;
                font-size: 1.45em;
                text-align: left;
            }
        }
    }

    .presentation-section {
        p, .section-title {
            display: block;
            margin: 50px auto 30px auto;
        }

        .section-title {
            word-spacing: 1.4rem;
            text-transform: uppercase;
            font-size: 3em;
        }

        p {
            font-size: 1.3em;
        }

        .name-Qwart {
            font-size: 3.2em;
            margin: 0px auto 0px auto;
        }

        .get_started_button {
            margin-top: 30px;
            background: #BA86FB;
            * {
                color: #FFF;
            }
            color: #FFF;
            font-size: 1em;
            padding: 12px 20px;
            font-weight: bold;
            border-radius: 4px;
            box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);

        }

        .imagep{

        }
    }
}
section {
    .cardMember{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: 150px;
        height: 150px;
        background: #ffffff;
        .cardMemberNameContainer{height: 100px;}
        .cardMemberJobContainer{height: 50px;}
        .cardMemberNameContainer, .cardMemberJobContainer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cardMemberNameContainer{background: #dedede;}
        .cardMemberJobContainer{background: #b0b0b0;}
    }
}
